p{
	text-align: center;
}
.panel-heading {
    padding: 0px;
    text-align: center;
}

.maincontent {
    padding: 5px;
    background-color: #eee;
}

.main_heading {
    text-align: center;
    margin-bottom: 3px;
    overflow: hidden;
    position: relative;
}
.download {
  position: absolute;
  right: 0;
  top: 5px;
}
.boder_top{
	border-top: 3px solid #FFF;
}
.main_heading p,.main_heading_middle_content span{
	font-size: 20px;
    margin: 0px;
    text-align: center;
}

.main_heading_middle_content{
	overflow: hidden; 
	width: 510px;
	text-align: center;
	margin: 5px auto;
}
.content_body {
    background-color: #fff;
    padding: 5px;
}

.content_body table {
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

.content_body table th {
    background-color: #eee;
    text-align: center;
}

.content_body h5,.content_body h4 {
    margin: 0px;
    text-align: center;
}
section{
	margin: 5px 3px;
}
